/********************************************************************************
*                     ORGANIZAÇÃO DO ARQUIVO TYPOGRAPHY                         *
*********************************************************************************
* 1 - Declaração das variáveis utilizadas
* 2 - Importação das fontes que serão utilizadas
* 3 - Formatação padrão dos componentes (Ex.: h1, button, body, etc)
* 4 - Header
* 5 - Footer
*/
/*
    1 - Declaração das variáveis utilizadas                       
*/
:root {
    --black-color: #000000;
    --blue-color: #3E6CC2;
    --gray-color: #C4C4C4;
    --white-color: #FFFFFF;
    --yellow-color: #FBBC05;
}
/*
    2 - Importação das fontes que serão utilizadas                       
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
/*
    3 - Formatação padrão dos componentes (Ex.: h1, button, body, etc)                      
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white-color);
    font-size: 12px;
    font-family: "Roboto",Helvetica, sans-serif;
    color: var(--black-color);  
}

h1 {
    font-size:  2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: var(--black-color);
}

/*
    4 - Header                     
*/
/* Logo */
header .header-title .logo {
    height: 80px;
}
/* Navbar */
header .nav-tabs ul li a {
    font-weight: 300;
    font-size: 1rem;
    color: var(--blue-color);
}
header .nav-tabs ul li:hover {
    background: rgba(62, 108, 194, 0.25);
}
header .nav-tabs ul li a:hover {
    font-weight: bold;
}
header .nav-tabs ul li .btn {
    border-color: var(--blue-color);
    background: var(--blue-color);
}
/*
    5 - Footer                     
*/
footer {
    background: var(--blue-color);
    color: var(--white-color); 
}
/* Logo */
footer .footer-title .logo {
    height: 150px;
}
/* Content */
footer .footer-content p {
    font-size: 0.9rem;
}
footer .footer-content .copy {
    font-size: 1.1rem;
}
footer .footer-content p .logo {
    font-family: 'Chewy', cursive;
    font-size: 1.2rem;
    font-weight: bold;
}
