/********************************************************************************
*                     ORGANIZAÇÃO DO ARQUIVO TYPOGRAPHY                         *
*********************************************************************************
* 1 - Declaração das variáveis utilizadas
* 2 - Importação das fontes que serão utilizadas
* 3 - Formatação padrão dos componentes (Ex.: h1, button, body, etc)
* 4 - Header
* 5 - Footer
* 6 - Banner Principal
* 7 - Benefits
* 8 - Team
*/
/*
    1 - Declaração das variáveis utilizadas                       
*/
:root {
    --black-color: #000000;
    --blue-color: #3E6CC2;
    --gray-color: #5E5E5E;
    --white-color: #FFFFFF;
    --yellow-color: #FBBC05;
}
/*
    2 - Importação das fontes que serão utilizadas                       
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
/*
    3 - Formatação padrão dos componentes (Ex.: h1, button, body, etc)                      
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white-color);
    font-size: 12px;
    font-family: "Roboto",Helvetica, sans-serif;
    color: var(--black-color);  
}
h1 {
    font-size:  2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: var(--black-color);
}
/*
    4 - Header                     
*/
/* Logo */
header .header-title .logo {
    height: 80px;
}
/* Navbar */
header .nav-tabs ul li a {
    font-weight: 300;
    font-size: 1rem;
    color: var(--blue-color);
}
header .nav-tabs ul li:hover {
    background: rgba(62, 108, 194, 0.25);
}
header .nav-tabs ul li a:hover {
    font-weight: bold;
}
header .nav-tabs ul li .btn {
    border-color: var(--blue-color);
    background: var(--blue-color);
}
/*
    5 - Footer                     
*/
footer {
    background: var(--blue-color);
    color: var(--white-color); 
}
/* Logo */
footer .footer-title .logo {
    height: 100px;
}
/* Content */
footer .footer-content p {
    font-size: 0.7rem;
}
footer .footer-content .copy {
    font-size: 0.9rem;
}
footer .footer-content p .logo {
    font-family: 'Chewy', cursive;
    font-size: 1.2rem;
    font-weight: bold;
}
/*
    6 - Banner Principal                   
*/
.banner-principal .container .banner-content .title {
    color: var(--white-color);
    text-transform: none;
    text-align: start;
    font-weight: bold;
}
.banner-principal .container .banner-content .subtitle {
    font-size: 1rem;
    font-weight: 100;
    color: var(--white-color);
    text-transform: none;
    text-align: start;
}
.banner-principal .container .banner-content .subtitle span {
    font-weight: 500;
}
/*
    7 - Benefits            
*/
.benefits .container h1 {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: none;
}
.benefits .container  .benefits-content p {
    text-align: start;
    font-size: 0.9rem;
    color: var(--gray-color);
}
/*
    8 - Team            
*/
.team .container h1 {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: none;
}
.team .container .content-team {
    text-align: start;
}
.team .container .content-team h2{
    margin: 0.25rem 0;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--blue-color);
}
.team .container .content-team p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
}
.team .container .content-team .icon-team {
    margin: 1rem 0;
    text-align: center;
}
.team .container .content-team .fab {
    font-size: 36px;
    padding: 0 0.5rem;
}
.team .container .content-team .github-icon {
    color: var(--black-color);
}
.team .container .content-team .linkedin-icon {
    color: var(--blue-color);
}